{% extends 'base.html.twig' %}

{% block title %}Email de reinitialisation de mot de passe envoyé{% endblock %}

{% block body %}
<div class="container">
    <p>
    Si un compte correspondant à l'email que vous avez saisi existe, un mail vous a été envoyé contenant un lien pour réinitialiser votre mot de passe.
    Ce lien expirera dans {{tokenLifetime|date('g')}} heures
    </p>
    <p>Si vous n'avez pas recu d'email, vérifiez votre dossier de spam ou <a href="{{ path('app_forgot_password_request') }}">réessayé</a></p>
</div>
{% endblock %}
