{% extends 'base.html.twig' %}

{% block title %} Ajouter une catégorie {% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajouter une catégorie </h1>
        <a href="{{ path('category') }}" class="btn btn-primary">Retour</a>

        {{ include('category/_form.html.twig') }}

    </div>
{% endblock %}

