{% extends 'base.html.twig' %}

{% block title %} Ajouter une salle {% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajouter une salle </h1>
        <a href="{{ path('room') }}" class="btn btn-primary">Retour</a>

        {{ include('room/_form.html.twig') }}

    </div>
{% endblock %}

